* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    border: solid 1px black;
}

.row {
    display: flex;
    flex: 1;
    border: solid 1px pink;
}

.column {
    flex: 1;
    border: solid 1px green;
}